
/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-skin-default {
  text-align: center;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 1018px;
  height: 230px;
  margin: auto;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 1018px;
  overflow: hidden;
}

.jcarousel-skin-default .jcarousel-item {
  padding: 0;;
	width: auto !important;
  height: 230px;
  overflow: hidden;
  list-style: none;
  background: none;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 6px;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 26px;
  height: 25px;
}

.jcarousel-skin-default .jcarousel-next-disabled,
.jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 102px;
  left: -16px;
  background-image: url('/sites/all/themes/dm/images/arrow_left.png');
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
}
.jcarousel-skin-default .jcarousel-prev-horizontal:active {
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 102px;
  right: -22px;
  background-image: url('/sites/all/themes/dm/images/arrow_right.png');
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
}
.jcarousel-skin-default .jcarousel-next-horizontal:active {
}



.jcarousel-skin-default .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-default .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-default .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

